<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Resetting...</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('stylesheet', filename='global.css') }}">
  <!-- <link rel="stylesheet" href="../stylesheet/global.css"> -->

  <script>
    setTimeout(() => {
      window.location.href = "/";
    }, 5000);
  </script>
</head>

<body>
  <header class="container-fluid">
    <div class="row justify-content-between align-items-center h-100">
      <div class="col">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Helmet Cleaner Logo"
          style="width: 100px; height: auto;" />
        <!-- <img src="../static/logo.png" alt="Helmet Cleaner Logo" style="width: 100px; height: auto;" /> -->
      </div>
    </div>
  </header>

  <main class="splan_content">
    <section>
      <div class="loader"></div>
      <h1>Preparing for new cleaning cycle...</h1>
    </section>
  </main>

</body>

</html>