<html>

<head>
  <title>Payment</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/global.css') }}">
  <!-- <link rel="stylesheet" href="../stylesheet/global.css"> -->
</head>

<body>
  <header class="container-fluid">
    <div class="row justify-content-between align-items-center h-100">
      <div class="col">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Helmet Cleaner Logo"
          style="width: 100px; height: auto;" />
        <!-- <img src="../static/logo.png" alt="Helmet Cleaner Logo" style="width: 100px; height: auto;" /> -->
      </div>
    </div>
  </header>

  <main class="splan_content">
    <div class="pay_card row align-items-center justify-content-center">
      <div class="col">
        <h2 style="margin-bottom: 1rem;">Pay ₹{{ amount }}</h2>
        <button id="rzp-button" class="btn-brand-color text-light">Pay Now</button>
      </div>
    </div>
  </main>

  <script>
    const options = {
      key: "{{ key_id }}",
      amount: "{{ order.amount }}",
      currency: "INR",
      name: "Helmet Cleaning",
      description: "Pay and start process",
      order_id: "{{ order.id }}",
      handler: function (response) {
        fetch("/payment-verification", {
          method: "POST",
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
          body: new URLSearchParams({
            razorpay_payment_id: response.razorpay_payment_id,
            razorpay_order_id: response.razorpay_order_id,
            razorpay_signature: response.razorpay_signature
          })
        })
          .then(res => {
            if (res.redirected) {
              window.location.href = res.url;
            } else {
              return res.text().then(text => {
                document.body.innerHTML = text;
              });
            }
          });
      },
      theme: { color: "#3399cc" }
    };
    document.getElementById("rzp-button").onclick = e => { new Razorpay(options).open(); e.preventDefault(); };
  </script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</body>

</html>