<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Superadmin Start</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('stylesheet', filename='global.css') }}">
  <!-- <link rel="stylesheet" href="../stylesheet/global.css"> -->
</head>

<body>
  <header class="container-fluid">
    <div class="row justify-content-between align-items-center h-100">
      <div class="col">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Helmet Cleaner Logo"
          style="width: 100px; height: auto;" />
        <!-- <img src="../static/logo.png" alt="Helmet Cleaner Logo" style="width: 100px; height: auto;" /> -->
      </div>
    </div>
  </header>

  <div class="content_height row align-items-center justify-content-center">
    <div class="col-9">
      <div class="card text-center" style="padding: 1rem;">
        <img src="{{ url_for('static', filename='h1.png') }}" alt="Helmet" class="helmet-img">
        <!-- <img src="../static/h1.png" alt="Helmet" width="120px"> -->

        <p class="text-center">Place your helmet, close the door and press the START button.</p>

        <form action="/manual-start" method="POST" style="margin-top:1rem"
          onsubmit="this.querySelector('button').disabled = true;">

          <button class="btn-brand-color text-light" type="submit">START</button>
        </form>
      </div>
    </div>
  </div>
  
  <script>
    setTimeout(() => {
      window.location.href = "/";
    }, 300000);
  </script>
</body>

</html>