<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Connect to Wi-Fi</title>
  <link rel="stylesheet" href="{{ url_for('stylesheet', filename='global.css') }}">
  <!-- <link rel="stylesheet" href="../stylesheet/global.css"> -->
</head>

<body>
  <header class="container-fluid">
    <div class="row justify-content-between align-items-center h-100">
      <div class="col">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Helmet Cleaner Logo"
          style="width: 100px; height: auto;" />
        <!-- <img src="../static/logo.png" alt="Helmet Cleaner Logo" style="width: 100px; height: auto;" /> -->
      </div>
    </div>
  </header>

  <div class="content_height row align-items-center justify-content-center">
    <div class="col-9">
      <div class="card" style="padding: 1rem;">
        <h2>Connect to Wi-Fi</h2>
        <form method="POST" action="/wifi-connect">
          <div class="col">
            <label for="ssid" style="display: block;">Select Network (SSID):</label>
            <input list="ssid-list" name="ssid" id="ssid" class="custom_input" required
              placeholder="Select or type SSID">
            <datalist id="ssid-list"></datalist>
          </div>

          <div class="col">
            <label for="password" style="display: block;">Wi-Fi Password:</label>
            <input type="password" name="password" id="password" class="custom_input" required
              placeholder="Enter password">
          </div>
          <div class="col text-center">
            <button type="submit" class="btn-brand-color text-light">Connect</button>
          </div>
      </div>
      </form>
    </div>
  </div>

  <script src="../static/js/wifiScan.js"></script>
</body>

</html>